.checkoutPage{
    overflow-x: hidden;
}
.logoContainer{
    width: 100vw;
    padding: 0.8rem 1rem;
    border-bottom: 1px solid #eeeeee;
    position: fixed;
    top: 0;
    background-color: white;
}
.checkoutContainer{
    margin-top: 12vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    gap: 1rem;
    padding-top: 2rem;
}