.productPageCategoryBar{
    width: 100vw;
    background-color: white;
    position: fixed;
    top: 13.7vh;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
}
.categoriesContainer{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    color: #686868;
    cursor: pointer;
}
.categoryContainer{
    padding: 1rem 1rem;
}
.moreOptions{
    display: flex;
    justify-content: center;
    align-items: center;
}
.categoryContainer:hover{
    background-color: #f2f4f9;
}