.productsContainer{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 82vw;
    margin: auto;
    gap: 2rem;
    margin-bottom: 2.5rem;
}
.productsContainer::-webkit-scrollbar {
    display: none;
}
.productContainer{
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 1rem;
}
.product{
    margin: auto;
    width: 10rem;
    height: auto;
}

.timerCountainer{
    display: flex;
    align-items: center;
    width: 4.3rem;
    height: 1.5rem;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #ebf4fe;
}
.timerIcon{
    font-size: .8rem;
}
.time{
    font-size: .6rem;
}

.productTitle{
    height: 2.2rem;
    margin: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    color: #221f1f;
}
.productWeight{
    margin: 0.5rem;
    font-size: .7rem;
    color: #7b7b7b;
}

.productPriceAndAddButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0.5rem;
}
.productPrice{
    font-weight: 500;
}
.addButton{
    border: 1px solid #4a9533;
    color: #4a9533;
    font-weight: 600;
    padding: 5px 1rem;
    border-radius: 8px;
}