.productsContainer{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    width: 82vw;
    margin: auto;
    gap: 2rem;
    margin-bottom: 2.5rem;
    
}
.productsContainerProductPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    height: 575px;
    overflow-y: scroll;
    background-color: #f4f6fb;
    padding: 0.5rem;
    text-decoration: none;
}


.productsContainer::-webkit-scrollbar {
    display: none;
}
.productsContainerProductPage::-webkit-scrollbar {
    display: none;
}


.productContainer{
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    padding: 1rem;
}
.productContainerProductPage{
    border: 1px solid #eeeeee;
    border-radius: 8px;
    padding: 1rem;
    height: 35vh;
    background-color: white;
}


.product{
    margin: auto;
    width: 10rem;
    height: auto;
}
.productProductPage{
    display: flex;
    width: 8rem;
    height: 8rem;
    margin: auto;
}


.timerCountainer{
    display: flex;
    align-items: center;
    width: 4.3rem;
    height: 1.5rem;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #ebf4fe;
}
.timerCountainerProductPage{
    width: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 0.5rem;
}


.timerIcon{
    font-size: .8rem;
}
.time{
    font-size: .6rem;
    font-weight: bold;
}

.productTitle{
    height: 2.2rem;
    margin: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    color: #221f1f;
}
.productTitleProductPage{
    height: 1.5rem;
    margin-left: 0.5rem;
    font-size: 14px;
    font-weight: bold;
    color: #221f1f;
}


.productWeight{
    margin: 0.5rem;
    font-size: .7rem;
    color: #7b7b7b;
}



.productPriceAndAddButtonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0.5rem;
}
.productPriceAndAddButtonContainerProductPage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0.5rem;
    height: 2rem;
}

.productPrice{
    font-weight: 500;
}
.addButton{
    border: 1px solid #4a9533;
    color: #4a9533;
    font-weight: 600;
    padding: 5px 1rem;
    border-radius: 8px;
}

.productCountButton{
    display: flex;
    justify-content: space-around;
    width: 3.2rem;
    background-color: #4a9533; 
    color: white;
    font-weight: 600;
    /* padding: 5px 1rem; */
    border-radius: 8px; 
}

.decreaseProductCount{
    cursor: pointer;
}
.increaseProductCount{
    cursor: pointer;
}